<nav class="flex bg-orange-100 text-orange-900 border-b-2 border-orange-600 sm:h-16 items-center">
  <div class="w-full max-w-6xl relative mx-auto px-6">
    <div class="flex flex-col sm:flex-row sm:items-center">
      <a href="/" class="block mr-4 py-1 flex items-center">
        {# <img class="h-10 w-10 mr-2" src="{% static "logo.svg" %}" alt="Social Network"> #}
        <h1 class="text-lg uppercase tracking-wider font-medium hover:underline">Social Network</h1>
      </a>
      <div class="flex-grow"></div>

      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <div class="mr-4">
            <a class="hover:underline font-light" href="{% url "admin:index" %}">
              Clubhouse
            </a>
          </div>
        {% endif %}
        <form method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button class="hover:underline font-light" type="submit">Log Out</button>
        </form>
      {% else %}
        <a class="hover:underline font-light" href="{% url 'account_login' %}">Log In</a>
        <a class="hover:underline ml-0 sm:ml-4 my-2 font-light" href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</nav>
